.venv
venv
tests/
.pytest_cache
.git
.gitignore
**/__pycache__
__pycache__
*.pyc
**/*.pyc
*.pyo
.idea
*.log
*.tmp
.env
.env.local
.dockerignore
Dockerfile
docker-compose.yml
README.md
pyproject.toml
.pre-commit-config.yaml
.github
